{% extends 'base.html' %}
<!--Making it stop jumping the line-->
{% block title %}Welcome{% endblock %}
<!--Making it stop jumping the line-->
{% block content %}
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
  <h1 class="mb-12 text-5xl text-center">SCHÖNEBERG ALERT</h1>
  <p>Welcome to the bulletin board for our beloved neighborhood</p>
  <br />
  <p>
    Here you can post "Alerts" about different topics relevant to our community!
  </p>
  <br />
  <p>Sign up in order to post an Alert or comment on others!</p>
</div>
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
  <h2 class="mb-12 text-2xl text-center">Latest Alerts</h2>

  <div class="grid grid-cols-3 gap-3">
    {% for post in posts %}
    <div>
      <a href="{% url 'post:detail' post.id %}">
        <div>
          {% if post.image %}
          <img src="{{ post.image.url }}" class="rounded-t-xl" />
          {% endif %}
        </div>

        <div class="p-6 bg-white rounded-b-xl">
          <h2 class="text-2xl">{{ post.title }}</h2>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
  <h2 class="mb-12 text-2xl text-center">Categories</h2>

  <div class="grid grid-cols-3 gap-3">
    {% for category in categories %}
    <div>
      <a href="#">
        <div class="p-6 bg-white rounded-b-xl">
          <h2 class="text-2xl">{{ category.name }}</h2>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
